{{ define "footer" }}
<script type="module">
    import { initializeApp, SDK_VERSION } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";

    const firebaseConfig = {

        apiKey: "AIzaSyAO0-1UJjq5Z-BnLDZomAzhtWYoaD9h608",

        authDomain: "motarjamat-2024.firebaseapp.com",

        projectId: "motarjamat-2024",

        storageBucket: "motarjamat-2024.appspot.com",

        messagingSenderId: "795925320860",

        appId: "1:795925320860:web:53ed4a18c28168f6fcc959",

        measurementId: "G-66TV878G6T"

    };

    initializeApp(firebaseConfig);


</script>

<script type="module">
    import { logout } from "/assets/js/auth.js";
    window.logout = logout;
</script>
</body>

</html>
{{ end }}